//= require_tree
//= require_self

@import "bootstrap-sprockets";
@import "bootstrap";

iframe#youtube{
  height: 338px;
  width:100%;
  margin: auto;
  margin-bottom:10px;
}

.container{
  width: 600px;
  margin:auto;
}

h3{
  margin-top:10px;
}

h4{
  margin-top:17px;
}

.new_game_button{
  background-color: #4675d9;
  color:white;
  width:100%;
}

.new_game_button:hover{
  background-color: #3165d5;
  color:white;
}

.new_game_button_container{
  padding-top: 25px;
  padding-bottom:20px;
  width: 80%;
  margin:auto;
}

.android_badge{
  img{
    width:80%;
    margin-left:17%;
  }
}

.ios_badge{
  img{
    width:73%;
    padding-top:12px;
    margin-left:4%;
  }
}