//= require_tree
//= require_self

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome';

iframe#youtube{
  height: 338px;
  width:100%;
  margin: auto;
  margin-bottom:10px;
}

.container{
  width: 600px;
  margin:auto;
}

@media (max-width: 767px) {
  width: 100%;
}

h3{
  margin-top:10px;
}

h4{
  margin-top:17px;
}

.new_game_button{
  background-color: #4675d9;
  color:white;
  width:80%;
  margin-left:45px;
}

.nav_button{
  background-color: #4675d9;
  color:white;
  margin-left:50px;
}

.new_game_button:hover{
  background-color: #3165d5;
  color:white;
}

.new_game_button:active {
  background-color: #3165d5;
  color:white;
}

.nav_button:hover{
  background-color: #3165d5;
  color:white;
}

.new_game_button_container{
  padding-top: 25px;
  padding-bottom:20px;
  width: 80%;
  margin:auto;
}

.button_container{
  margin-top:25px;
}

.android_badge{
  img{
    width:80%;
    margin-left:17%;
  }
}
.android_badge_single{
  img{
    width:80%;
    margin-left:10%;
  }
}

.ios_badge{
  img{
    width:73%;
    padding-top:12px;
    margin-left:4%;
  }
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: 0px;
  margin-top: 4px \9;
}
.panel-body{
  padding-left: 25px;
  padding-bottom:0px;
}

.fa-bars{
  color:white;
}
//.dropdown{
//  position:fixed;
//  top: 10px;
//  left: 10px;
//}